<footer class="footer">
  <small>
    A POLITICAL PLATFORM FOR ALL -by ASHISH GOOJAR AND VIPLOV DUGAYA 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://paper.hindustantimes.com/", target="_blank">News</a></li>
    </ul>
  </nav>
</footer>